
<div class="ui stackable container top fixed menu">

  <!-- item logo -->
  <div class="item">
    <img src="../../img/logoFerrari.jpg"> <!-- Le coloco dobles puntos para que el logo salga en todas las pantallas -->
  </div>

  <!-- Contenido del menu -->
  <div class="right menu">
    <a> <%= link_to 'Crear Automovil', new_car_path, class: "item" %> </a>
    
  </div>
  
</div>